<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title> Nmap Scan</title>
<style>
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

</style>
</head>
<body>
<h1 style="text-align: center;">Hackers Tool Kit </h1>
<div class="grid-container">
  <div class="item1">Scanners</div>

  <div class="item2">
    <div class="row">
    <label>
        <input type="radio" checked="checked" name="radio" value="nmap"> Nmap
        <span class="checkmark"></span>
      </label>
    </div>
    <div class="row">
      <label>
        <input type="radio" name="radio" value="openvas"> OpenVAS
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
  <div class="item3">
    <div class="row">
        <form  id="loginForm">
            <input type="text" id="input-text" placeholder="IP address">
            <select name="scan_type" id="scan-type">
                <option value="Quick Scan">Quick Scan</option>
                <option value="Full Scan">Full Scan</option>
                <option value="TCP Syn Scan">TCP Syn Scan/Stealth Scan</option>
                <option value="Intense Scan">Intense Scan</option>
                <option value="Intense Scan with UDP">Intense with UDP Scan</option>
                <option value="Top-Ports">Top-Ports</option>
                <option value="Version">Version Scan</option>
                <option value="OS-Detection">OS-Detection</option>
                <option value="ping-scan">Ping Scan</option>
            </select>
            <!-- <input type="submit" id="submit-button" value="Submit"> -->
            <button type="button" id="submit-button" onclick="userAction()">Scan</button>
            
        </form>
    </div>
  </div>

  <!--div class="item4">Right</div-->

  <div class="item5">
    <div class="col-md-1">
        <label for="output-text">Scan Result:</label>
    </div>
    <div class="col-md-1">
	    <textarea id="output-text" rows="50" cols="60"></textarea>
    </div>
  </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="application/javascript" src="../static/script.js"></script>
</html>

